.dt{
    font-size: 25px;
    text-align: center;
    font-style: italic;
    position: absolute;
    text-align: left;
    margin-top: 190px;
    margin-left: 120px;
    padding: -1px;
    width: 800px;
    word-wrap: break-word;
}
.dp{
    font-size: 20px;
    text-align: left;
    font-style: italic;
    position: absolute;
    margin-top: 250px;
    margin-left: 110px;
    padding: 10px;
    width: 500px;
    word-wrap: break-word;
}
.dimg{
    position: absolute;
    margin-top: 140px;
    margin-left: 900px;
}