.servicos1{
    font-size: 50px;
    text-align: center;
    font-style: italic;
    position: absolute;
    margin-top: 180px;
    margin-left: 175px;
}
.textop1{
    font-size: 25px;
    text-align: left;
    font-style: italic;
    position: absolute;
    margin-top: 260px;
    margin-left: 170px;
    padding: 10px;
    width: 450px;
    word-wrap: break-word;
}
.servicos2{
    font-size: 50px;
    text-align: center;
    font-style: italic;
    position: absolute;
    margin-top: 180px;
    margin-left: 703px;
}
.textop2{
    font-size: 25px;
    text-align: left;
    font-style: italic;
    position: absolute;
    margin-top: 260px;
    margin-left: 700px;
    padding: 10px;
    width: 460px;
    word-wrap: break-word;
}
.entregastexto{
        font-size: 23px;
        position: absolute;
        margin-top: 417px;
        margin-right: 1250px;
        list-style: none;
}
.entregastexto li a{
    text-decoration: none;
    position: relative;
    left: 300px;
    top: -29px;
}
.devolucoestexto{
        font-size: 23px;
        right: -15px;
        position: absolute;
        margin-top: 417px;
        margin-right: 410px;
        list-style: none;
}
.devolucoestexto li a{
    text-decoration: none;
}
